.grid-container {
  display: grid; 
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.grid-child {
  border: 1px;
  border-color: #444;
  border-style: solid;
  border-spacing: 5px;
}

.grid-element  {
  margin: 10px
}